/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* */
:root {
  --main-bg-color: #002534;
  --main-content-color: #01BABC;
  --rad-planet: 6rem;
  --rad-max: 86rem;
  font-size: 10px;
  font-family: Futura, serif;
}


/* ----
 SP
---- */

/* mainArea */
.mainArea {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--main-bg-color);
}
.mainArea h1 {
  margin: 0;
  height: 2.8em;
  line-height: 2.8em;
  padding: 0 20px;
  color: #fff;
  font-size: 2.4em;
  border-bottom: 1px solid var(--main-content-color);
  text-transform: uppercase;
}
.secCircle h2 {
  color: #fff;
  height: 2.5em;
  line-height: 2.6em;
  margin: 0;
  padding: 0 20px;
  font-size: 2.0em;
  background-color: var(--main-content-color);
}
.secCircle ul {
  margin: 0;
  padding: 0;
}
.secCircle li {
  list-style: none;
}
.secCircle>ul>li {
  padding: 0.7em 20px;
  line-height: 2;
  border-bottom: 1px solid var(--main-content-color);
}
.secCircle .is-selectable li::before {
  content: "*";
  margin-right: 0.3em;
  color: #fff;
  font-size: 2.0em;
  vertical-align: middle;
}
.secCircle a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}
.secCircle .blockCategory {
  display: none;
}
.secCircle .blockExam {
  margin: 0;
  padding: 0.7em 20px;
  line-height: 2;
}
.secCircle .blockExam::before,
.secCircle .blockExam::after {
  color: #fff;
  font-size: 2.0em;
}
.secCircle .blockExam::before {
  content: "<<";
  margin-right: 0.5em;
}
.secCircle .blockExam::after {
  content: ">>";
  margin-left: 0.5em;
}

/* ----
 PC
---- */
@media screen and (min-width: 768px) {
  /* mainArea */
  .mainArea {
    min-width: var(--rad-max);
  }
  .mainArea h1 {
    text-align: center;
    background: var(--main-content-color);
    border-bottom: none;
  }

  /* secCircle */
  .secCircle {
    position: absolute;
    width: var(--rad);
    height: var(--rad);
  }
  .secCircle h2 {
    display: none;
  }
  .secCircle a {
    font-size: 1.4rem;
  }
  .secCircle--level0,
  .secCircle--level1,
  .secCircle--level2,
  .secCircle--level3,
  .secCircle--level4,
  .secCircle--level5,
  .secCircle--level6 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .secCircle--level1,
  .secCircle--level2,
  .secCircle--level3,
  .secCircle--level4,
  .secCircle--level5,
  .secCircle--level6 {
    border-radius: 50%;
    border: 2px solid var(--main-content-color);
  }

  .secCircle--level1 li,
  .secCircle--level2 li,
  .secCircle--level3 li,
  .secCircle--level4 li,
  .secCircle--level5 li,
  .secCircle--level6 li {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  .secCircle .blockExam {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 0;
    width: 10rem;
    height: 3em;
    text-align: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    line-height: initial;
  }
  .secCircle .blockExam::before,
  .secCircle .blockExam::after {
    content: normal;
  }
  .secCircle .blockExam a {
    display: block;
    width: 100%;
    height: 3em;
    line-height: 3em;
    border-radius: 1.5em;
    background-color: var(--main-content-color);
    color: #fff;
    font-size: 1.2rem;
    transition: transform 0.24s cubic-bezier(0.25, 1.71, 0.57, 1.61);
  }
  .secCircle .blockExam a:hover {
    transform: scale(1.1);
  }

  .secCircle .blockCategory {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 1.1rem;
    z-index: 100;
  }

  .secCircle--level0 {
    --rad: var(--rad-planet);
    z-index: 6;
  }

  .secCircle--level1 {
    --rad: 16rem;
    z-index: 5;
  }

  .secCircle--level2 {
    --rad: 30rem;
    z-index: 4;
  }

  .secCircle--level3 {
    --rad: 44rem;
    z-index: 3;
  }

  .secCircle--level4 {
    --rad: 58rem;
    z-index: 2;
  }

  .secCircle--level5 {
    --rad: 72rem;
    z-index: 1;
  }
  .secCircle--level6 {
    --rad: var(--rad-max);
    z-index: 0;
  }
  .secCircle li {
    width: var(--rad-planet);
    height: var(--rad-planet);
    text-align: center;
  }
  .secCircle>ul>li {
    padding: 0;
    line-height: initial;
    border-bottom: none;
  }
  .secCircle li a {
    display: block;
    width: 100%;
    height: var(--rad-planet);
    line-height: var(--rad-planet);
    background-color: var(--main-content-color);
    border-radius: 50%;
    font-size: 1.1rem;
    transition: transform 0.24s cubic-bezier(0.25, 1.71, 0.57, 1.61);
  }
  .secCircle li a:hover {
    transform: scale(1.1);
  }

  .secCircle li a span {
    display: block;
    margin: 0 -2em;
  }
  .secCircle .is-selectable li::before {
    content: normal;
  }
  .is-selectable > li:nth-child(1) {
    transform: translate(calc(cos(calc(var(--deg-basis) - var(--deg-diff) * 0)) * var(--rad) / 2), calc(sin(calc(var(--deg-basis) - var(--deg-diff) * 0)) * var(--rad) / 2));
  }

  .is-selectable > li:nth-child(2) {
    transform: translate(calc(cos(calc(var(--deg-basis) - var(--deg-diff) * 1)) * var(--rad) / 2), calc(sin(calc(var(--deg-basis) - var(--deg-diff) * 1)) * var(--rad) / 2));
  }

  .is-selectable > li:nth-child(3) {
    transform: translate(calc(cos(calc(var(--deg-basis) - var(--deg-diff) * 2)) * var(--rad) / 2), calc(sin(calc(var(--deg-basis) - var(--deg-diff) * 2)) * var(--rad) / 2));
  }

  .is-piscene {
    --deg-basis: 0deg;
    --deg-diff: 72deg;
  }

  .is-piscene .is-line3 {
    display: flex;
    align-items: center;
    width: var(--rad-planet);
    height: 100%;
    margin: 0 auto;
    line-height: 1.3rem;
    color: var(--main-content-color);
  }

  .is-piscene > li:nth-child(1) {
    transform: translate(calc(cos(var(--deg-basis) + var(--deg-diff) * 0) * var(--rad-planet) / 2), calc(sin(var(--deg-basis) + var(--deg-diff) * 0) * var(--rad-planet) / 2));
  }

  .is-piscene > li:nth-child(2) {
    transform: translate(calc(cos(var(--deg-basis) + var(--deg-diff) * 1) * var(--rad-planet) / 2), calc(sin(var(--deg-basis) + var(--deg-diff) * 1) * var(--rad-planet) / 2));
  }

  .is-piscene > li:nth-child(3) {
    transform: translate(calc(cos(var(--deg-basis) + var(--deg-diff) * 2) * var(--rad-planet) / 2), calc(sin(var(--deg-basis) + var(--deg-diff) * 2) * var(--rad-planet) / 2));
  }

  .is-piscene > li:nth-child(4) {
    transform: translate(calc(cos(var(--deg-basis) + var(--deg-diff) * 3) * var(--rad-planet) / 2), calc(sin(var(--deg-basis) + var(--deg-diff) * 3) * var(--rad-planet) / 2));
  }

  .is-piscene > li:nth-child(5) {
    transform: translate(calc(cos(var(--deg-basis) + var(--deg-diff) * 4) * var(--rad-planet) / 2), calc(sin(var(--deg-basis) + var(--deg-diff) * 4) * var(--rad-planet) / 2));
  }

  .secCircle--level1 > ul > li:nth-child(1) {
    transform: translate(calc(cos(-60deg) * var(--rad) / 2), calc(sin(-60deg) * var(--rad) / 2));
  }

  .secCircle--level1 > ul > li:nth-child(2) {
    transform: translate(calc(cos(60deg) * var(--rad) / 2), calc(sin(60deg) * var(--rad) / 2));
  }

  .secCircle--level1 > ul > li:nth-child(3) {
    transform: translate(calc(cos(180deg) * var(--rad) / 2), calc(sin(180deg) * var(--rad) / 2));
  }

  .secCircle--level2 > ul > li:nth-child(1) {
    --deg-basis: 130deg;
    --deg-diff: 20deg;
  }

  .secCircle--level2 > ul > li:nth-child(2) {
    --deg-basis: 20deg;
    --deg-diff: 20deg;
  }

  .secCircle--level2 > ul > li:nth-child(3) {
    transform: translate(calc(cos(215deg) * var(--rad) / 2), calc(sin(215deg) * var(--rad) / 2));
  }

  .secCircle--level3 > ul > li:nth-child(1) {
    transform: translate(calc(cos(60deg) * var(--rad) / 2), calc(sin(60deg) * var(--rad) / 2));
  }

  .secCircle--level3 > ul > li:nth-child(2) {
    transform: translate(calc(cos(150deg) * var(--rad) / 2), calc(sin(150deg) * var(--rad) / 2));
  }

  .secCircle--level4 > ul > li:nth-child(1) {
    transform: translate(calc(cos(-60deg) * var(--rad) / 2), calc(sin(-60deg) * var(--rad) / 2));
  }

  .secCircle--level4 > ul > li:nth-child(2) {
    --deg-basis: 30deg;
    --deg-diff: 10deg;
  }

  .secCircle--level4 > ul > li:nth-child(3) {
    transform: translate(calc(cos(190deg) * var(--rad) / 2), calc(sin(190deg) * var(--rad) / 2));
  }

  .secCircle--level5 > ul > li:nth-child(1) {
    transform: translate(calc(cos(-30deg) * var(--rad) / 2), calc(sin(-30deg) * var(--rad) / 2));
  }

  .secCircle--level5 > ul > li:nth-child(2) {
    --deg-basis: 130deg;
    --deg-diff: 8deg;
    --deg-rad: 3rem;
  }

  .secCircle--level5 > ul > li:nth-child(3) {
    transform: translate(calc(cos(220deg) * var(--rad) / 2), calc(sin(220deg) * var(--rad) / 2));
  }

  .secCircle--level6 > ul > li:nth-child(1) {
    width: calc(var(--rad-planet) * 1.8);
    height: calc(var(--rad-planet) * 1.8);
    transform: translate(calc(cos(90deg) * var(--rad) / 2), calc(sin(90deg) * var(--rad) / 2));
  }

  .secCircle--level6 > ul > li:nth-child(1) a {
    height: calc(var(--rad-planet) * 1.8);
    line-height: calc(var(--rad-planet) * 1.8);
  }
}
